* {
  box-sizing: border-box;
}

.page {
  width: 1280px;
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto;
  min-height: 100px;
}

.header {
  padding: 34px;
}

.header__logo {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #5076ff;
}

.content {
}

.cover {
  padding: 66px 90px 160px;
  background-image: url(../images/cover-image.png);
  background-repeat: no-repeat;
  background-position: 100% 25px;
}

.cover__title {
  font-size: 110px;
  font-weight: 500;
  line-height: 100%;
  max-width: 380px;
  margin: 0 0 90px;
  letter-spacing: -0.04em;
}

.cover__subtitle {
  font-weight: 400;
  font-size: 19px;
  line-height: 25px;
  color: #acacac;
  max-width: 214px;
  letter-spacing: -0.04em;
  margin: 0;
}

.cover__link {
  color: #5076ff;
  text-decoration: none;
}

.description {
  padding: 90px 90px 70px 90px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.description__title {
  font-weight: 500;
  margin: 0 0 60px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  letter-spacing: -0.03em;
}
